files:
  "/home/ec2-user/wp-cli.phar":
    mode: "000644"
    owner: webapp
    group: webapp
    source: "https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar"

container_commands:
  1chown:
    command: "chmod +x /home/ec2-user/wp-cli.phar"
  2move:
    command: "sudo mv /home/ec2-user/wp-cli.phar /usr/local/bin/wp"